@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.services {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding:40px;
    padding-top: 50px;
    padding-left: 80px;
    z-index: 2;
    position: relative;
    font-family: $secondary-font-family;

    &__content {
        padding: 30px;
        
        &__point {
            padding:20px;
        }
    }
}

@media only screen and (min-aspect-ratio: 3/2) {
    .services {
        
    }
}


@media only screen and ((max-width: 1100px)) {
    .services {
        padding: 10px;
        &__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;

            &__text{
                font-size: 13px;
                width: 100%;
                * {
                    padding-top: 20px;
                }               
            }
        }
    }
}

@media only screen and ((max-width: 1100px)) and ((min-width: 800px)){
    .services {
        &__container {
            &__img{
                width: 60%;
            }
        }
    }
}

@media only screen and ((max-width: 799px)) and ((min-width: 600px)){
    .services {
        &__container {
            &__img{
                width: 80%;
            }
        }
    }
}

@media only screen and ((max-width: 599px)){
    .services {
        &__container {
            &__img{
                width: 100%;
            }
        }
    }
}

// @media only screen and ((max-width: 650px))  {
//     .services {
//         &__container {
//             &__img{
//                 width: 80%;
//             }
//         }
//     }
// }
