@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.contact-us {
    display: flex;
    justify-content: center;
    background-color: $primary-color;

    &__content {
        width: 100%;
        height:calc(100dvh - 76px);
        margin-top: 76px;
        display: grid;
        grid-template-areas: //"title title title"
            "email logo address";
            // "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        //grid-template-rows: 1fr 100px;

        &__title {
            grid-area: title;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            border-bottom: double 6px $white;
        }

        &__email {
            background-color: $primary-color;
            grid-area: email;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__svg {
                width: 100px;
                fill: $white;
                padding-bottom: 20px;
            }
            &__text {
                color: $white;
                font-family: $secondary-font-family;
                font-size: 18px;
                padding: 10px;
                
                &:hover {
                    color: $sagey-grey;
                }
            }
        }

        &__logo-panel {
            background-color: $sagey-grey;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            border-left: double 6px $primary-color;
            border-right: double 6px $primary-color;

            &__text {
                font-family: $primary-font-family;
                font-size: 80px;
                color: $primary-color;
            }
            
            &__logo {
                width: 70%;
                fill: $primary-color;
            }
        }

        &__address {
            background-color: $primary-color;
            grid-area: address;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__svg {
                width: 120px;
                fill: $white;
                &:hover {
                    fill: $sagey-grey;
                }
            }
            &__text {
                color: $white;
                font-family: $secondary-font-family;
                font-size: 18px;
                &:hover {
                    color: $sagey-grey;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}