@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.projects {
    border-top: 6px $primary-color double;
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $primary-color;
    padding: 30px;
    text-align: left;
    z-index: 2;
    position: relative;
    font-family: $secondary-font-family;

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 10px;

        &__img{
            width: 600px;
        }

        &__points {
            display: flex;
            justify-content: space-between;
            align-items: left;
            flex-direction: column;
            padding: 10px;
            width: 50%;
            &__point {
                padding: 13px;
                list-style-position: outside;
                padding-left: 25px;
            }
        }
    }
}




@media only screen and ((max-width: 1400px)) {
    
    .projects{
       
    
        &__content {
            flex-direction: column;
            &__img{
                margin-top: 30px;
                width: 500px;
            }
    
            &__points {
                width: 90%;
                &__point {
                    
                }
            }
        }
    }
    
}

@media only screen and ((max-width: 740px)) {
    
    .projects{
        &__content {
            flex-direction: column;
            &__img{
                
                width: 85%;
            }
    
            &__points {
                
                &__point {
                    
                }
            }
        }
    }
    
}

@media only screen and ((max-width: 500px)) {
    .projects{

    }
}

