@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.container {
    width: 90%;
    
    &__point {
        opacity: 0;
        transition: all 1s ease;
        transition-delay: 0.4s;
        
        &--visible {
            opacity: 1;
        }
    }
}


