@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.interiors {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 76px 1fr;
    height:100vh;

    grid-template-areas: 
    "nav nav"
    "sideBar content";
    background-color: $white;

    &__content {
        overflow: scroll;
        grid-area: content;
    }
}