@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.about-us {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding:40px;
    padding-top: 50px;
    padding-left: 80px;
    z-index: 2;
    position: relative;


    &__container {
        margin: 40px;
        margin-top:30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        &__text {
            font-family: $secondary-font-family;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            * {
                padding: 14px;
            }
        }
        &--visible {
            opacity: 1;
        }
    }
}

@media only screen and (min-aspect-ratio: 3/2) {
    .about-us {
        
    }
}


@media only screen and ((max-width: 1100px)) {
    .about-us {
        padding: 10px;
        &__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;

            &__text{
                font-size: 13px;
                width: 100%;
                * {
                    padding-top: 20px;
                }               
            }
        }
    }
}

@media only screen and ((max-width: 1100px)) and ((min-width: 800px)){
    .about-us {
        &__container {
            &__img{
                width: 60%;
            }
        }
    }
}

@media only screen and ((max-width: 799px)) and ((min-width: 600px)){
    .about-us {
        &__container {
            &__img{
                width: 80%;
            }
        }
    }
}

@media only screen and ((max-width: 599px)){
    .about-us {
        &__container {
            &__img{
                width: 100%;
            }
        }
    }
}

// @media only screen and ((max-width: 650px))  {
//     .about-us {
//         &__container {
//             &__img{
//                 width: 80%;
//             }
//         }
//     }
// }
