@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;


.nav-button {
    font-size: 22px;
    font-family: $secondary-font-family;
    color: $white;
    padding: 7px;
    text-align: center;
    z-index: 3;
    text-decoration: none;

    &--current {
        font-weight: bold;
        :hover {
            opacity: 100%;
        }
    }
    

    &:hover {
        opacity: 70%;
    }
}