@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.side-bar {
    background: $white;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    color: $primary-color;
    border-right: double $primary-color 6px;
    display: grid;
    grid-template-rows: 90px 1fr 90px;
    font-family: $secondary-font-family;
    font-size: 13px;
    grid-area: sideBar;

    &__subheading {
        font-weight: bold;
        padding: 10px;
        font-size: 24px;
        font-family: $primary-font-family;

    }

    &--dark {
        color: $white;
        background: $primary-color;
        border-right: double $secondary-color 6px;
    }
    
    &__container {
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    &__instruction{
        font-weight: bold;
    }
}