@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.side-bar {
    background: $white;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    color: $primary-color;
    border-right: double $primary-color 6px;
    display: grid;
    grid-template-rows: 90px 1fr 90px;
    font-family: $secondary-font-family;
    font-size: 13px;
    grid-area: sideBar;
    position: relative;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &__subheading {
        font-weight: bold;
        padding: 10px;
        font-size: 24px;
        font-family: $primary-font-family;

    }

    &--dark {
        color: $white;
        background: $primary-color;
        border-right: double $secondary-color 6px;
    }
    
    &__container {
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    &__instruction{
        font-weight: bold;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        &__arrows {
            display: flex;
            justify-content: space-around;
            padding-bottom: 30px;
            padding: 15px;
            margin-left: 50px;
            margin-right: 50px;
            svg {
                height: 15px;
                fill:white;
                :hover {
                    fill: $sagey-grey;
                }
            }
        }
    }

    &__button {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .side-bar {
        z-index: 1;
        transition: 1s;
        overflow-x: visible;
        width: 330px;

        &--hidden {
            padding: 0px;
            transition: 1s;
        }

        &__container {
            &__text {
                width: 284px;
            }
        }

        &__button {
            z-index: 3;
            background-color: $white;
            border: double $primary-color 6px;
            position: absolute;
            bottom: 20vh;
            visibility: visible;
            height: 54px;
            width: 54px;
            fill: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                height: 35px;
            }

            &--dark {
                border: double $primary-color 6px;
                background-color: $secondary-color;
                fill: $white;
            }
    
            &--hide {
                left: 314px;
                transition: 1s;
                
            }
            &--show {
                left: 0px;
                transition: 1s;
                width: 44px;
            }
        }
    }
}