@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.corporate-interiors {
    display: flex;
    justify-content: center;
    background-color: $white;

    &__content {
        margin: 90px;
        height: 200vh;
    }
}