@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.footer {
    height: 100px;
    width: 100%;
    background: $sagey-grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    color: $primary-color;
    border-top: double $primary-color 6px;

    &--dark {
        color: $white;
        background: $primary-color;
        border-top: double $white 6px;
    }
    
    &__text {
        font-family: $secondary-font-family;
        font-size: 11px;
        z-index: 2;
        font-weight: bold;
    }
    

}