@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.section-heading {
    font-size: 50px;
    font-family: $primary-font-family;
    color: $primary-color;
    text-align: left;
    //transition: width 0.3s ease-out;

    &--white {
        color: $white;
    }
    
}

@media only screen and ((max-width: 650px))  {
    .section-heading {
        font-size: 40px;
    }
}